.classpath
.project
.settings
.DS_Store
dependency-reduced-pom.xml
target/
*.iml
*.ipr
*.swp
bin/
/*/src/main/java/META-INF
docs/reference/src/main/docbook/en-US/version_info.xml
.idea
Pods
/.gradle/4.6/taskHistory/taskHistory.lock
/.gradle/4.6/taskHistory/taskHistory.bin
/.gradle/4.6/fileHashes/fileHashes.lock
/.gradle/4.6/fileHashes/fileHashes.bin
/core/.gradle/6.1.1
/core/.gradle/buildOutputCleanup
/core/.gradle/checksums
/core/.gradle/vcs-1
/.gradle/6.1.1
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/checksums
/.gradle/vcs-1
